body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-weight: bolder;
    overflow: hidden;
}

.canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.nav-item {
    text-decoration: none;
    /* 밑줄 제거 */
    color: inherit;
    /* 부모의 색상을 상속 */
    font-size: 62px;
    margin: 0 73px;
    cursor: pointer;
    position: relative;
    padding: 10px;
    z-index: 1;
    font-weight: bolder;
    transition: color 0.3s ease;
}


/* 흰색 박스 스타일 */

.hover-bg {
    position: absolute;
    top: 12%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    /* 기본값 투명 */
    z-index: -1;
    /* 텍스트 뒤에 나타나도록 */
    transition: opacity 0.3s ease, transform 0.3s ease;
}


/* hover-text 스타일 */

.hover-text {
    position: absolute;
    bottom: -13px;
    /* 텍스트의 위치 조정 */
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-size: 26px;
    opacity: 0;
    /* 기본값은 투명하게 설정 */
    transition: opacity 0.3s ease;
    z-index: 5;
}

.project-container {
    overflow: hidden;
    height: 100vh;
    white-space: nowrap;
}

.project-section {
    display: inline-flex;
    width: max-content;
    align-items: center;
    height: 100%;
    transform: translateX(-30vw);
}

.project-item {
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    box-sizing: border-box;
}

.project-video {
    width: 30vw;
    height: 30vh;
    object-fit: cover;
    margin-right: 100px;
    transition: transform 0.3s ease;
}

.project-video:hover {
    transform: scale(1.3);
}

.video-description {
    width: 350px;
    height: 200px;
    text-align: left;
    font-size: 1.2em;
    align-items: center;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    overflow: hidden;
}

.video-description p {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-wrap: break-word;
    white-space: normal;
    display: flex;
    align-items: center;
    line-height: 1.6;
}

#hover {
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}