@import url("https://use.typekit.net/grt0qxb.css");
body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-weight: bolder;
    overflow: hidden;
}

.canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.nav-item {
    text-decoration: none;
    color: inherit;
    font-size: 62px;
    margin: 0 73px;
    cursor: pointer;
    position: relative;
    padding: 10px;
    z-index: 1;
    font-weight: bolder;
    transition: color 0.3s ease;
}

.hover-bg {
    position: absolute;
    top: 12%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.hover-text {
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-size: 26px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 5;
}

.project-container {
    overflow: hidden;
    height: 100vh;
    white-space: nowrap;
}

.project-section {
    display: inline-flex;
    width: max-content;
    align-items: center;
    height: 100%;
    transform: translateX(-30vw);
}

.project-item {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.video-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-top: 80px;
}

.project-video {
    width: 30vw;
    height: 30vh;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-video:hover {
    transform: scale(1.3);
}

.description {
    font-family: "lores-12", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.5em;
    margin-top: 60px;
}

.video-description {
    font-family: "lores-12", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 400px;
    height: 300px;
    text-align: left;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    overflow: hidden;
}

.video-description p {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-wrap: break-word;
    white-space: normal;
    display: flex;
    align-items: center;
    line-height: 1.5;
}

#hover {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
}